section {
  display: flex;
  flex-direction: column;
  gap: 30px;

  h2 {
    font-size: 20px;
    color: rgba($color: #000000, $alpha: 0.7);
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      color: rgba($color: #000000, $alpha: 0.7);
    }

    .btn {
      display: flex;
      gap: 10px;
      button:nth-child(2) {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid var(--color-icon-delete);
        color: var(--color-icon-delete);
        background-color: var(--white-bg);
        font-weight: 600;
        cursor: pointer !important;
      }

      button:nth-child(1) {
        padding: 10px;
        border-radius: 5px;
        font-weight: 600;
        border: none;
        color: var(--white-bg);
        background-color: #a0a0a0;
      }
    }
  }
}
