button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #fe82b6);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer !important;
  transition: 0.3s ease;
}

button:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}
