<!-- Main -->
<section class="content">
  <div class="scheduling">
    <button><span class="material-symbols-outlined">add</span>Novo Agendamento</button>
  </div>

  <section class="filters card">
    <input type="date" />
    <input type="text" placeholder="Filtrar por cliente" />
    <select>
      <option>Status</option>
      <option>Confirmado</option>
      <option>Pendente</option>
      <option>Cancelado</option>
    </select>
    <button>Filtrar</button>
  </section>

  <section class="calendar card">
    <div class="calendar-header">
      <button><span class="material-symbols-outlined">chevron_left</span></button>
      <h2>05-03-2026</h2>
      <button><span class="material-symbols-outlined">chevron_right</span></button>
    </div>

    <div class="calendar-grid">
      <div class="time">08:00</div>
      <div class="event">
        <p>Maria Souza</p>
        <small>08:00 - 09:00</small>
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <!-- <div class="line"></div> -->

      <div class="time">09:00</div>
      <div class="event confirmed">
        <p>Juliana</p>
        <small>09:00 - 10:00</small>
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <!-- <div class="line"></div> -->

      <div class="time">10:00</div>
      <div class="event confirmed">
        <p>Juliana</p>
        <small>10:00 - 11:00</small>
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <!-- <div class="line"></div> -->

      <div class="time">13:00</div>
      <div></div>
      <div></div>
      <div class="event">
        <p>Juliana</p>
        <small>13:00 - 14:00</small>
      </div>
      <div></div>
      <div></div>

      <div class="time">19:00</div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="event confirmed">
        <p>Juliana</p>
        <small>19:00 - 20:00</small>
      </div>
    </div>
  </section>

  <section class="daily card">
    <h2>Agendamentos do Dia</h2>
    <div class="container-appointment">
      <div class="appointment">
        <div class="appointment-items">
          <strong>Maria Souza</strong>
          <p>Extensão de Cílios</p>
          <span>09:00 - 10:00</span>
        </div>
        <span class="status confirmed">Confirmado</span>
      </div>
      <div class="line"></div>
      <div class="appointment">
        <div class="appointment-items">
          <strong>Juliana Almeida</strong>
          <p>Volume Brasileiro</p>
          <span>14:00 - 15:30</span>
        </div>
        <span class="status pending">Pendente</span>
      </div>
      <div class="line"></div>
      <div class="appointment">
        <div class="appointment-items">
          <strong>Juliana Almeida</strong>
          <p>Volume Brasileiro</p>
          <span>16:00 - 17:30</span>
        </div>
        <span class="status finished">Finalizado</span>
      </div>
      <div class="line"></div>
      <div class="appointment">
        <div class="appointment-items">
          <strong>Juliana Almeida</strong>
          <p>Volume Brasileiro</p>
          <span>16:00 - 17:30</span>
        </div>
        <span class="status canceled">Cancelado</span>
      </div>
    </div>
  </section>
</section>
