<section class="content">
  <div class="scheduling">
    <button><span class="material-symbols-outlined">add</span>Novo Agendamento</button>
  </div>

  <section class="filters card">
    <input type="date" />
    <input type="text" placeholder="Filtrar por cliente" />
    <select>
      <option>Status</option>
      <option>Confirmado</option>
      <option>Pendente</option>
      <option>Cancelado</option>
    </select>
    <button>Filtrar</button>
  </section>

  <section class="calendar card">
    <div class="calendar-header">
      <button (click)="prevDay()">
        <span class="material-symbols-outlined">chevron_left</span>
      </button>

      <h2>{{ getFormattedDate() }}</h2>

      <button (click)="nextDay()">
        <span class="material-symbols-outlined">chevron_right</span>
      </button>
    </div>
    <div class="calendar-grid">
      <!-- Cabeçalho -->
      <div></div>
      <div class="title">Manhã</div>
      <div class="title">Tarde</div>
      <div class="title">Noite</div>

      @for (hour of allHours; track hour) {
        <!-- coluna horário -->
        <p class="time">{{ hour }}</p>

        <!-- MANHÃ -->
        <div>
          @if (morningHours.includes(hour) && getAppointment(hour); as appointment) {
            <div class="event" [ngClass]="appointment.status">
              <small>{{ appointment.client }}</small>
              <p>{{ appointment.service }}</p>
            </div>
          }
        </div>

        <!-- TARDE -->
        <div>
          @if (afternoonHours.includes(hour) && getAppointment(hour); as appointment) {
            <div class="event" [ngClass]="appointment.status">
              <small>{{ appointment.client }}</small>
              <p>{{ appointment.service }}</p>
            </div>
          }
        </div>

        <!-- NOITE -->
        <div>
          @if (nightHours.includes(hour) && getAppointment(hour); as appointment) {
            <div class="event" [ngClass]="appointment.status">
              <small>{{ appointment.client }}</small>
              <p>{{ appointment.service }}</p>
            </div>
          }
        </div>
      }
    </div>
  </section>

  <section class="daily card">
    <h2>Agendamentos do Dia</h2>

    <div class="container-appointment">
      @for (appointment of getAppointmentsOfDay(); track appointment.start) {
        <div class="appointment">
          <div class="appointment-items">
            <strong>{{ appointment.client }}</strong>

            <p>{{ appointment.service }}</p>

            <span> {{ appointment.start }} - {{ appointment.end }} </span>
          </div>

          <span class="status" [ngClass]="appointment.status">
            {{ appointment.status }}
          </span>
        </div>

        <div class="line"></div>
      }
    </div>
  </section>
</section>
