<section class="campaigns">
  <div class="title">
    <!-- <div class="items">
      <h2>Campanhas</h2>
      <p>Gerencie suas campanhas de marketing</p>
    </div> -->

    <button class="btn-primary">
      <span class="material-symbols-outlined">add</span> Nova Campanha
    </button>
  </div>

  <div class="filters">
    <input type="text" placeholder="Buscar campanha..." />

    <select>
      <option>Status</option>
      <option>Ativa</option>
      <option>Inativa</option>
    </select>
  </div>

  <div class="campaign-container">
    @for (campaign of campaigns; track campaign.id) {
      <div class="campaign-card">
        <img [src]="campaign.banner || '/assets/login.jpg'" alt="imagem" />

        <div class="content">
          <div class="promotion">
            <h3>{{ campaign.name }}</h3>
            <p>{{ campaign.description }}</p>
          </div>

          <div class="info">
            <span class="status" [ngClass]="campaign.status">
              {{ campaign.status }}
            </span>

            <p>Mensagens: {{ campaign.messagesSent }}</p>
          </div>

          <div class="actions">
            <button class="btn-edit">
              <span class="material-symbols-outlined"> edit </span>
            </button>
            <button class="btn-delete">
              <span class="material-symbols-outlined"> delete </span>
            </button>
          </div>
        </div>
      </div>
    }
  </div>
  @if (!campaigns.length) {
    <div class="empty">Nenhuma campanha encontrada</div>
  }
</section>
