<section class="campaigns">
  <div class="title">
    <div class="items">
      <h2>Campanhas</h2>
      <p>Gerencie suas campanhas de marketing</p>
    </div>

    <button class="btn-primary">
      <span class="material-symbols-outlined">add</span> Nova Campanha
    </button>
  </div>

  <div class="filters">
    <input type="text" placeholder="Buscar campanha..." />

    <select>
      <option>Status</option>
      <option>Ativa</option>
      <option>Inativa</option>
    </select>
  </div>

  <div class="campaign-container">
    <!-- CAMPANHA 1 -->
    <div class="campaign-card">
      <img src="/assets/login.jpg" />

      <div class="content">
        <div class="promotion">
          <h3>Promoção de Verão</h3>
          <p>Corte + escova com 20% de desconto</p>
        </div>

        <div class="info">
          <span class="status active">Ativa</span>
          <p>Mensagens: 1200</p>
        </div>

        <div class="actions">
          <button class="btn-edit">
            <span class="material-symbols-outlined"> edit </span>
          </button>
          <button class="btn-delete">
            <span class="material-symbols-outlined"> delete </span>
          </button>
        </div>
      </div>
    </div>

    <!-- CAMPANHA 2 -->
    <div class="campaign-card">
      <img src="/assets/login.jpg" />

      <div class="content">
        <div class="promotion">
          <h3>Pacote Dia das Mães</h3>
          <p>Escova + hidratação especial</p>
        </div>

        <div class="info">
          <span class="status">Inativo</span>
          <p>Mensagens: 980</p>
        </div>

        <div class="actions">
          <button class="btn-edit">
            <span class="material-symbols-outlined"> edit </span>
          </button>
          <button class="btn-delete">
            <span class="material-symbols-outlined"> delete </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
