<header class="header">
  <h3>Clientes</h3>

  <div class="user-info">
    <div class="icons">
      <span class="material-symbols-outlined"> notifications </span>
      <span class="material-symbols-outlined"> mail </span>
    </div>
    <div class="container-items">
      <div class="img-user">
        <img src="/assets/login.jpg" alt="" />
      </div>

      <div class="name-user">
        <p>Olá,</p>
        <p>Carla</p>
      </div>
      <span class="material-symbols-outlined"> arrow_drop_down </span>
    </div>
  </div>
</header>
