.header {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: rgba($color: #000000, $alpha: 0.7);
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 20px;

    .icons {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 10px;
      font-size: 16px;
      color: rgba($color: #000000, $alpha: 0.7);
    }
    .container-items {
      display: flex;
      align-items: center;
      gap: 10px;

      .img-user {
        img {
          min-width: 40px;
          min-height: 40px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .name-user {
        display: flex;
        flex-direction: column;

        p {
          // white-space: nowrap;
          // overflow: hidden;
          // text-overflow: ellipsis;
          width: 40px;
          font-weight: 600;
          margin: 0;
          font-size: 16px;
          color: rgba($color: #000000, $alpha: 0.7);
        }
      }
      span {
        cursor: pointer;
        font-weight: 600;
        font-size: 20px;
        color: rgba($color: #000000, $alpha: 0.7);
      }
    }
  }
}
