.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;

  .menu-btn {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;

    span {
      font-size: 25px;
      color: #fe82b6;
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 20px;

    .icons {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 10px;
      font-size: 16px;
      color: rgba($color: #000000, $alpha: 0.7);
    }
    .container-items {
      display: flex;
      align-items: center;
      gap: 10px;

      .img-user {
        img {
          min-width: 30px;
          min-height: 30px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .name-user {
        display: flex;
        flex-direction: column;

        p {
          font-weight: 600;
          margin: 0;
          font-size: 13px;
          color: rgba($color: #000000, $alpha: 0.7);
        }
      }
      span {
        cursor: pointer;
        font-weight: 600;
        font-size: 20px;
        color: rgba($color: #000000, $alpha: 0.7);
      }
    }
  }
}
/* MOBILE */
@media (max-width: 1200px) {
  .header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background: #f7f7f7;
    gap: 20px;
    .menu-btn {
      display: block;
    }
  }
}
