<section>
  <h2>{{ title }}</h2>

  <form [formGroup]="form">
    @for (field of fields; track $index) {
      <div>
        <input
          [type]="field.type"
          [placeholder]="field.placeholder"
          [formControlName]="field.name"
        />
        @if (form.get(field.name)?.invalid && form.get(field.name)?.touched) {
          <small>
            {{ getErrorMessage(field.name) }}
          </small>
        }
      </div>
    }
  </form>

  <div class="btn">
    <button>Cancelar</button>

    <button (click)="submit()">Editar</button>
  </div>
</section>
