.layout {
  display: flex;
}

.main-content {
  flex: 1;
  background: var(--color-bg);
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 30px;
}

.topbar {
  display: none;
}
