<aside class="sidebar" [class.open]="isOpen">
  <div class="logo">
    <h2>AgendaBeauty</h2>
  </div>

  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">
      <span class="material-symbols-outlined">dashboard</span>
      Dashboard
      <!-- <div class="active"></div> -->
    </a>

    <a routerLink="/client" routerLinkActive="active">
      <span class="material-symbols-outlined">person</span>
      Clientes
    </a>

    <a routerLink="/scheduling" routerLinkActive="active">
      <span class="material-symbols-outlined">calendar_month</span>
      Agendamentos
    </a>

    <a routerLink="/products" routerLinkActive="active">
      <span class="material-symbols-outlined">menu_book</span>
      Catálogo de Serviços
    </a>

    <a routerLink="/payments" routerLinkActive="active">
      <span class="material-symbols-outlined">payments</span>
      Pagamentos
    </a>

    <a routerLink="/campaign" routerLinkActive="active">
      <span class="material-symbols-outlined">campaign</span>
      Campanhas
    </a>
    <a routerLink="/users" routerLinkActive="active">
      <span class="material-symbols-outlined"> groups </span>
      Colaboradores
    </a>
  </nav>
</aside>

@if (isOpen) {
  <div class="overlay" (click)="closeMenu()"></div>
}
