.sidebar {
  display: flex;
  flex-direction: column;

  width: 250px;
  height: 100vh;
  background: #ffffff;
  border-right: 1px solid #eee;

  .logo {
    padding: 40px 20px 40px 20px;

    h2 {
      font-weight: bold;
      font-size: 20px;
      color: #ff4f8b;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 40px;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
      gap: 10px;
      color: rgba($color: #000000, $alpha: 0.7);
      font-weight: 500;
      font-size: 16px;

      span {
        font-size: 25px;
        color: #ff4f8b;
      }
    }
  }
}

a.active {
  color: rgba($color: #000000, $alpha: 0.5) !important;
  border-right: 3px solid #ff4f8b;

  span {
    color: rgba($color: #000000, $alpha: 0.5) !important;
  }
}
