<aside class="sidebar">
  <div class="logo">
    <h2>AgendaBeauty</h2>
  </div>

  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">
      <span class="material-symbols-outlined">dashboard</span>
      Dashboard
      <!-- <div class="active"></div> -->
    </a>

    <a routerLink="/clientes" routerLinkActive="active">
      <span class="material-symbols-outlined">person</span>
      Clientes
    </a>

    <a routerLink="/agendamentos" routerLinkActive="active">
      <span class="material-symbols-outlined">calendar_month</span>
      Agendamentos
    </a>

    <a routerLink="/servicos" routerLinkActive="active">
      <span class="material-symbols-outlined">content_cut</span>
      Serviços
    </a>

    <a routerLink="/pagamentos" routerLinkActive="active">
      <span class="material-symbols-outlined">payments</span>
      Pagamentos
    </a>

    <a routerLink="/campanhas" routerLinkActive="active">
      <span class="material-symbols-outlined">campaign</span>
      Campanhas
    </a>
  </nav>
</aside>
