<section class="container">
  <div class="title">
    <button class="btn-primary" (click)="openCreateModal()">
      <span class="material-symbols-outlined">add</span> Adicionar
    </button>
  </div>
  <app-admin-user-table
    [data]="products"
    [columns]="productColumns"
    (edit)="handleEdit($event)"
    (delete)="handleDelete($event)"
  >
  </app-admin-user-table>

  @if (isCreateModalOpen) {
    <app-modal (closeModal)="closeCreateModal()">
      <app-create-modal
        [title]="'Novo Serviço'"
        [fields]="productFields"
        [form]="productForm"
        (close)="closeCreateModal()"
        (save)="handleCreate()"
      >
      </app-create-modal>
    </app-modal>
  }
</section>
