<section class="container">
  <header class="title">
    <h2>Dashboard</h2>
    <p>Visão geral da performance do seu studio</p>
  </header>

  <!-- MÉTRICAS -->
  <section class="cards">
    <article class="card">
      <div class="card-items">
        <span class="material-symbols-outlined">group</span>
        <p>Clientes</p>
      </div>
      <strong>1215</strong>
    </article>

    <article class="card">
      <div class="card-items">
        <span class="material-symbols-outlined">calendar_month</span>
        <p>Agendamentos</p>
      </div>
      <strong>324</strong>
    </article>

    <article class="card">
      <div class="card-items">
        <span class="material-symbols-outlined">payments</span>
        <p>Receita Hoje</p>
      </div>
      <strong>R$ 980</strong>
    </article>

    <article class="card">
      <div class="card-items">
        <span class="material-symbols-outlined">notifications</span>
        <p>Avisos</p>
      </div>
      <strong>5</strong>
    </article>
  </section>

  <section class="campaign-dashboard">
    <header class="campaign-title">
      <h3>Campanhas Ativas</h3>
    </header>

    <div class="campaign-container">
      @for (campaign of campaigns; track campaign.id) {
        <article class="campaign-card">
          <figure>
            <img [src]="campaign.banner || '/assets/login.jpg'" alt="Banner da campanha" />
          </figure>

          <div class="content">
            <header class="promotion">
              <h4>{{ campaign.name }}</h4>
              <p>{{ campaign.description }}</p>
            </header>

            <div class="info">
              <span
                class="status"
                [class.ativa]="campaign.status === 'ATIVA'"
                [class.encerrada]="campaign.status === 'ENCERRADA'"
                [class.agendada]="campaign.status === 'AGENDADA'"
              >
                {{ campaign.status }}
              </span>

              <p>Mensagens: {{ campaign.messagesSent }}</p>
            </div>

            <footer class="actions">
              <button class="btn-edit" aria-label="Editar campanha">
                <span class="material-symbols-outlined">edit</span>
              </button>

              <button class="btn-delete" aria-label="Excluir campanha">
                <span class="material-symbols-outlined">delete</span>
              </button>
            </footer>
          </div>
        </article>
      }
    </div>
  </section>

  <section class="dashboard-content">
    <article class="revenue-card">
      <header class="card-header">
        <h3>Receita do mês</h3>
      </header>

      <div class="chart">
        <div class="bar">
          <span>R$ 970</span>
        </div>

        <div class="bar active">
          <span>R$ 750</span>
        </div>

        <div class="bar">
          <span>R$ 580</span>
        </div>
        <div class="bar">
          <span>R$ 530</span>
        </div>
        <div class="bar">
          <span>R$ 530</span>
        </div>
      </div>

      <footer class="info">
        <p>Receita Hoje: <strong>R$ 980</strong></p>
        <p>5 agendamentos aguardam</p>
      </footer>
    </article>

    <aside class="appointments-card">
      <header class="card-header">
        <h3>Agendamentos do dia</h3>
      </header>

      <ul class="appointments-list">
        <li class="appointment">
          <div class="items">
            <div class="avatar"></div>

            <div class="details">
              <p>Alessandra</p>
              <span>cílios fio a fio</span>
            </div>
          </div>

          <time>há 1h</time>
        </li>

        <li class="appointment">
          <div class="items">
            <div class="avatar"></div>

            <div class="details">
              <p>Helena</p>
              <span>cílios fio a fio</span>
            </div>
          </div>

          <time>há 1h</time>
        </li>

        <li class="appointment">
          <div class="items">
            <div class="avatar"></div>

            <div class="details">
              <p>Larissa</p>
              <span>cílios fio a fio</span>
            </div>
          </div>

          <time>há 1h</time>
        </li>
      </ul>
    </aside>
  </section>
</section>
