<div class="table-container">
  <table>
    <thead>
      <tr>
        @for (column of columns; track column.field) {
          <th>{{ column.label }}</th>
        }
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      @for (item of data; track item) {
        <tr>
          @for (column of columns; track column.field) {
            <td [attr.data-label]="column.label">
              {{ item[column.field] }}
            </td>
          }

          <td class="actions">
            <button class="btn-edit" (click)="openEdit(item)">
              <span class="material-symbols-outlined"> edit </span>
            </button>
            <button class="btn-delete" (click)="openDelete(item)">
              <span class="material-symbols-outlined"> delete </span>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  @if (!data.length) {
    <div class="empty">Nenhum registro encontrado</div>
  }
</div>
@if (modalType) {
  <app-modal (closeModal)="closeModal()">
    @if (modalType === 'edit') {
      <app-edit-modal [data]="selectedItem" (save)="handleEdit($event)"> </app-edit-modal>
    }
    @if (modalType === 'delete') {
      <app-delete-modal [data]="selectedItem" (confirm)="handleDelete($event)"> </app-delete-modal>
    }
  </app-modal>
}
