<!-- <div class="table-container">
  <table>
    <thead>
      <tr>
        @for (column of columns; track column.field) {
          <th>{{ column.label }}</th>
        }
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      @for (item of data; track $index) {
        <tr>
          @for (column of columns; track column.field) {
            <td [attr.data-label]="column.label" [ngClass]="column.className">
              @if (column.type === 'image') {
                <img
                  class="avatar"
                  [src]="item[column.field] || '/assets/login.jpg'"
                  alt="imagem"
                />
              } @else {
                {{ item[column.field] }}
              }
            </td>
          }

          <td class="actions" data-label="Ações">
            <button class="btn-edit" (click)="openEdit(item)">
              <span class="material-symbols-outlined"> edit </span>
            </button>
            <button class="btn-delete" (click)="openDelete(item)">
              <span class="material-symbols-outlined"> delete </span>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  @if (!data.length && !loading) {
    <div class="empty">Nenhum registro encontrado</div>
  }
</div> -->

<div class="table-container">
  <table>
    <thead>
      <tr>
        @for (column of columns; track column.field) {
          <th>{{ column.label }}</th>
        }

        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      @for (item of data; track $index) {
        <tr>
          @for (column of columns; track column.field) {
            <td [attr.data-label]="column.label" [ngClass]="column.className">
              @if (column.type === 'image') {
                <img
                  class="avatar"
                  [src]="
                    item[column.field]
                      ? 'http://localhost:3000/' + item[column.field]
                      : '/assets/login.jpg'
                  "
                  alt="imagem"
                />
              } @else {
                {{ item[column.field] }}
              }
            </td>
          }

          <td class="actions" data-label="Ações">
            <button class="btn-edit" (click)="openEdit(item)">
              <span class="material-symbols-outlined"> edit </span>
            </button>

            <button class="btn-delete" (click)="openDelete(item)">
              <span class="material-symbols-outlined"> delete </span>
            </button>
          </td>
        </tr>
      } @empty {
        @if (!loading) {
          <tr>
            <td colspan="100%">
              <div class="empty">Nenhum registro encontrado</div>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>

@if (modalType) {
  <app-modal (closeModal)="closeModal()">
    @if (modalType === 'edit') {
      <app-edit-modal
        [title]="editTitle"
        [fields]="editFields"
        [form]="editForm"
        (save)="handleEdit()"
      >
      </app-edit-modal>
    }
    @if (modalType === 'delete') {
      <app-delete-modal [data]="selectedItem" (confirm)="handleDelete($event)"> </app-delete-modal>
    }
  </app-modal>
}
