.table-container {
  padding: 20px;
  table {
    width: 100%;
    max-width: 1000x;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    th,
    td {
      padding: 14px;
      border-bottom: 1px solid #eee;
      color: rgba($color: #000000, $alpha: 0.7);
      text-align: left;
      font-size: 16px;
    }

    th {
      color: #000000;
      background: #eee;
      font-weight: 600;
      font-size: 16px;
    }
    tr:hover {
      background: #fafafa;
    }

    .description {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .actions {
      display: flex;
      gap: 10px;

      button {
        border-radius: 5px;
        border: none;
        background: none;
        cursor: pointer;
        padding: 5px;

        span {
          font-size: 25px;
        }
      }

      .btn-edit {
        background-color: rgba($color: #4f46e5, $alpha: 0.1);
        color: #4f46e5;
      }

      .btn-delete {
        background-color: rgba($color: #ef4444, $alpha: 0.1);
        color: #ef4444;
      }
    }
  }
}
