<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>Imagem</th>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Preço</th>
        <th>Duração</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      @for (item of data; track item.id) {
        <tr>
          <td data-label="ID">{{ item.id }}</td>
          <td data-label="Imagem">
            @if (item.image) {
              <img class="avatar" [src]="item.image || '/assets/login.jpg'" />
            } @else {
              <img class="avatar" src="/assets/login.jpg" width="200" />
            }
          </td>

          <td data-label="Nome">{{ item.name }}</td>
          <td data-label="Tipo">{{ item.type }}</td>

          <td data-label="Duração">
            {{ item.price | currency: 'BRL' }}
          </td>

          <td data-label="Duração">{{ item.duration }}</td>

          <td data-label="Descrição" class="description">
            {{ item.description }}
          </td>

          <td data-label="Ações" class="actions">
            <button class="btn-edit" (click)="onEdit(item)">
              <span class="material-symbols-outlined"> edit </span>
            </button>

            <button class="btn-delete" (click)="onDelete(item)">
              <span class="material-symbols-outlined"> delete </span>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
  @if (!data.length) {
    <div class="empty">Nenhum registro encontrado</div>
  }
</div>
