.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .items {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.7);
      margin: 0;
    }

    p {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.7);
      margin: 0;
    }
  }
}

.filters {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.filters input,
.filters select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.btn-secondary {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 8px 15px;
  background-color: #ddd;
  border-radius: 5px;

  p {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    font-size: 16px;
  }
}

.cards {
  display: flex;

  gap: 20px;

  .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--white-bg);
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

    .card-items {
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        font-size: 30px;
        color: var(--color-primary);
      }

      h1 {
        font-weight: 600;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.7);
        margin: 0;
      }
    }

    p {
      font-weight: 600;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.5);
      margin: 0;
    }
  }
}

.table-container {
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f1f1f1;
}

th,
td {
  padding: 12px;
  text-align: left;
}

tbody tr {
  border-top: 1px solid #eee;
}

.status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.paid {
  background: #dff5e4;
  color: #1e8e3e;
}

.pending {
  background: #ffe7d9;
  color: #e65100;
}

.actions button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}
