<section class="container">
  <div class="title">
    <button class="btn-primary" (click)="openCreateModal()">
      <span class="material-symbols-outlined">add</span> Novo colaborador
    </button>
  </div>
  <app-admin-user-table
    [data]="users"
    [columns]="usersColumns"
    [editFields]="userFields"
    [editForm]="userForm"
    [editTitle]="'Editar usuário'"
    (edit)="handleEdit($event)"
    (delete)="handleDelete($event)"
  >
  </app-admin-user-table>

  @if (isCreateModalOpen) {
    <app-modal (closeModal)="closeCreateModal()">
      <app-create-modal
        [title]="'Novo Colaborador'"
        [fields]="userFields"
        [form]="userForm"
        (close)="closeCreateModal()"
        (save)="handleCreate()"
      >
      </app-create-modal>
    </app-modal>
  }
  <app-loading [visible]="loading" [fullScreen]="false"></app-loading>
</section>
