<div class="login-container">
  <div class="login-image"></div>

  <div class="login-form">
    <div class="card">
      <div class="avatar">
        <p class="material-icons"><span class="material-symbols-outlined"> person </span></p>
        <h2>Administrador</h2>
      </div>

      <form>
        <app-input type="email" placeholder="E-mail"> </app-input>

        <app-input type="password" placeholder="Senha"> </app-input>

        <a class="forgot">Esqueceu a senha?</a>
      </form>

      <app-button> LOGAR </app-button>
    </div>
  </div>
</div>
