.login-container {
  display: flex;
  height: 100%;

  .login-image {
    flex: 1;
    background: url('../../../../../assets/login.jpg') center/cover no-repeat;
    position: relative;
  }

  .login-image::after {
    content: '';
    object-fit: cover;
    position: absolute;
    inset: 0;
    background: rgba(233, 30, 99, 0.4);
  }

  .login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .avatar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #eee;
        width: 60px;
        height: 60px;
        border-radius: 50%;

        span {
          color: rgba(0, 0, 0, 0.7);
          font-size: 30px;
        }
      }

      h2 {
        color: rgba(0, 0, 0, 0.7);
        font-size: 20px;
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      padding: 10px;
      width: 100%;
      max-width: 370px;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100% !important;
        gap: 10px;

        app-input {
          width: 100%;
        }

        .forgot {
          max-width: 246px;
          font-weight: 700;
          margin-left: 246px;
          font-size: 12px;
          color: #fe82b6;
          cursor: pointer;
        }

        app-button {
          margin-top: 20px;
          width: 100%;
          max-width: 200px;
        }
      }
    }
  }
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-image {
    display: none;
  }
}
