<div class="login-container">
  <div class="login-image"></div>

  <div class="login-form">
    <div class="card">
      <div class="avatar">
        <p class="material-icons">
          <span class="material-symbols-outlined"> person </span>
        </p>

        <h2>Administrador</h2>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <app-input type="email" placeholder="E-mail" icon="mail" formControlName="email">
        </app-input>

        <app-input type="password" placeholder="Senha" icon="lock" formControlName="password">
        </app-input>

        <a class="forgot">Esqueceu a senha?</a>

        <app-button type="submit" [disabled]="loginForm.invalid"> LOGAR </app-button>
      </form>
    </div>
  </div>
</div>
